.inputFieldContainer {
  position: relative;
  .fieldContainer {
    padding: 10px;
    display: flex;
    gap: 20px;

    label {
      font-size: 20px;
      color: grey;
      width: 160px;
      text-align: left;
    }

    input {
      border: none;
      border-bottom: 1px solid grey;
      width: 300px;
      outline: none;
      font-size: 20px;
      color: grey;
    }

    .selectInput {
      width: 300px;
      color: grey;
      height: 30px;
    }
  }

  .radioFieldContainer {
    padding: 10px 20px 10px 9px;
    color: grey;
    display: flex;
    label {
      text-align: left;
      font-size: 20px;
      width: 160px;
    }

    .radioInput {
      display: flex;
      gap: 10px;
      margin-right: 20px;
      label {
        width: max-content;
      }
    }
  }

  .errorContainer {
    color: red;
    text-align: left;
  }
}
